<div class="container">
    <div class="card">
        <div class="card-header">
            {{pageTitle}}
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Rating</th>
                        <th>Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">                        
                        <td>
                            <img [src] = "product.image"
                                [style.width.px] = "imageWidth"
                                [style.margin.px] = "imageMargin">
                        </td>
                        <td>
                            <a [routerLink]="['/products', product.id]">
                                {{product.title}}
                            </a>
                        </td>
                        <td>{{product.category}}</td>
                        <td>{{product.rating.rate}}</td>
                        <td><app-star [rating]='product.rating.rate'></app-star></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
